
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No. of users</title>
</head>
<body>
    <div>
        <h1 style="text-align: center; margin-top: 100px; text-decoration: underline;">Number of Users:- <%= count %> </h1>
        <form method="get" action="/users/add" style="text-align: center; margin-top: 40px;">
            <button style="font-size: 1.2rem; font-weight: 600; box-shadow: 1px 2px 1px 2px;">Join us Today.</button>
        </form>
        
    </div>
</body>
</html>