


table, th, tr, td {
            border: 1px solid black;
            margin: auto;
        }

th {
      color: #155724;  
  }      
        



#messageBox {
    background-color: #d4edda;
     color: #155724; 
     border: 1px solid #c3e6cb;
      padding: 15px; 
      margin-bottom: 20px;
}